@import "ember-bootstrap/bootstrap";
@import "layout";

$bg-color: rgb(66, 126, 146);

body {
  font-family: Georgia;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;border-radius: 10px;
}

.application {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.outlet {
  margin-top: 20px;
}

.video,
.media-page article {
  margin-bottom: 50px;
}

.past-productions img {
  max-width: 725px;
  width: 100%;
  margin-bottom: 50px;
  border: 1px solid gray;
}

a, h2, h3 {
  color: $bg-color;
}

a.nav-link:hover {
  transition: 0.5s;
  color: white;
  background-color: $bg-color;
}

a.nav-link.active {
  transition: 0.5s;
  color: white !important;
  background-color: rgb(66, 126, 146) !important;
}

li.nav-item {
  white-space: nowrap;
}

section a {
  font-weight: bold;
}

.footer {
  margin-top: 20px;

  a {
    margin-right: 48px;
    text-decoration: none;
  }
}
