<main role="main">
  <article>
      <p>
      Matchmaker Productions was founded in 2013 by playwright Shaul Ezer, with the mission of producing a trilogy of original Canadian plays based on the three cities in which he’s lived. To this end, <i>The Matchmaker of Montreal</i> had its World Premiere in 2013, followed by <i>The Concierge of Vancouver in 2016</i>. The third play, <i>The CEO of Toronto</i>, is currently in development.
    </p>
    <p>
      In 2014, Matchmaker Productions produced the original play <i>The Masks of Oscar Wilde</i> at the 2014 Vancouver Fringe Festival, and in 2022, Matchmaker Productions made its Edinburgh Fringe debut with a revival production of this show. In 2023, Matchmaker is thrilled to return to Edinburgh with the World Premiere of <i>The Real William Shakespeare, as told by Christopher Marlowe</i>. Matchmaker Productions is looking forward to touring these two shows internationally starting in 2024, as well as completing the Canadian trilogy that began ten years ago.
    </p>
  </article>
</main>
