<main role="main">
  <article>
      <p>
      Matchmaker Productions was founded in 2013 by playwright Shaul Ezer, with the mission of producing a trilogy of original Canadian plays based on the three cities in which he’s lived. To this end, <i>The Matchmaker of Montreal</i> had its World Premiere in 2013, followed by <i>The Concierge of Vancouver in 2016</i>. The third play, <i>The CEO of Toronto</i>, is currently in development.
    </p>
    <p>
      In 2014, Matchmaker Productions produced the original play <i>The Masks of Oscar Wilde</i> at the 2014 Vancouver Fringe Festival, and in 2022, Matchmaker Productions will make its debut at the Edinburgh Fringe Festival with a revised version of this script. A second Fringe play, <i>The Real William Shakespeare, as told by Christopher Marlowe</i>, is currently in development with a run at the Edinburgh Fringe set for 2023. In the future, Matchmaker Productions is looking forward to completing the Canadian trilogy and bringing its productions to more international audiences.
    </p>
  </article>
</main>
