<div class="application">
<h1>Matchmaker Productions</h1>

<BsNav
  @type="pills"
  @justified={{false}}
  @stacked={{false}}
  @fill={{false}} as |nav|
>
  <nav.item>
    <nav.link-to @route="index">Home</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route="videos">Videos and Photos</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route="media">Media</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route="past">Past Productions</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route="contact">Contact</nav.link-to>
  </nav.item>
</BsNav>

<div class="outlet">
  {{outlet}}
  </div>
</div>
