<main role="main">
  <article>
    <header>
      <h2>Contact</h2>
    </header>

    <ul>
      <li><strong>Production</strong>
        <ul>
          <li>
            Laura Moore <a href="mailto:mmtheatreproductions@gmail.com">mmtheatreproductions@gmail.com</a>
          </li>
        </ul>
      </li>
      <li><strong>Sponsorship</strong>
        <ul>
          <li>Shaul Ezer <a href="mailto:shaul@shaulezer.com">shaul@shaulezer.com</a></li>
        </ul>
      </li>
      <li><strong>Media</strong>
        <ul>
          <li>
            Emily Ingram at <a href="mailto:matchmakerpress@gmail.com">matchmakerpress@gmail.com</a>
          </li>
        </ul>
      </li>
    </ul>
  </article>
</main>
