<main role="main">
  <article>
    <header>
      <h2>Contact</h2>
    </header>

    <ul>
      <li>Production
        <ul>
          <li>
            Shannon Macelli <a href="mailto:mmtheatreproductions@gmail.com">mmtheatreproductions@gmail.com</a>
          </li>
          <li>
            Art Kitching <a href="mmtheatreproductions@gmail.com">mmtheatreproductions@gmail.com</a>
          </li>
        </ul>
      </li>
      <li>Sponsorship
      <ul>
        <li>Shaul Ezer shaul@shaulezer.com</li>
        <li>Daniel Morton <a href="sponsorship@matchmakerproductions.com">sponsorship@matchmakerproductions.com</a></li>
      </ul>
      </li>
      <li>Media
        <ul>
          <li>
            Damon Jang <a href="mailto:damon.jang85@gmail.com>">damon.jang85@gmail.com></a>
          </li>
        </ul>
      </li>
    </ul>
  </article>
</main>
