<main role="main">
  <article>
    <p>Matchmaker Productions was founded in 2013 by playwright Shaul Ezer, with the mission of producing a trilogy of original Canadian plays based on the three cities in which he’s lived. To this end, The Matchmaker of Montreal had its World Premiere in 2013, followed by The Concierge of Vancouver in 2016. The third and final play, The CEO of Toronto, is currently in development, with its World Premiere slated for 2021. In 2014, Matchmaker Productions produced the original play The Masks of Oscar Wilde at the 2014 Vancouver Fringe Festival. A second Fringe play, To Hell with PC, is currently in development. In the future, Matchmaker Productions is looking forward to completing the trilogy and bringing its productions to international audiences.
    </p>
  </article>
</main>
