<main role="main">
  <article>
    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/masks-of-oscar-wilde-logo-small.jpg" alt="The Masks of Oscar Wilde"/>
        <p>

          <a href="mailto:mmtheatreproductions@gmail.com">Contact us</a> for more information and bookings.</p>
      </div>
      <div class="layout__item layout__item--body">
        <p>
          <i>
            Man of letters. Aesthete. Victorian moralist. Playwright. Oscar Wilde wore many masks. But as a well–meaning professor and his eager student trace the life of the legendary writer, it becomes clear there may be more masks waiting in the shadows. As they dig deeper, we begin to wonder. Are they hiding something? What if some masks are better left in the shadows? A test of wits, of "truth", and an examination of the fabulous and scandal-ridden life of Oscar Wilde and the man behind the masks.
          </i>
        </p>

        <p>Starring Catherine Bisset and Conor O'Dwyer, directed by Jen McGregor, and written by Shaul Ezer, <i>The Masks of Oscar Wilde</i> marked the Edinburgh Fringe debut for Matchmaker Theatre Productions in August of 2022. It was subsequently revived at the Scottish Storytelling Centre in the spring of 2023, and will be going on tour in 2024.
        </p>

        <p>**** <a href="https://www.alledinburghtheatre.com/the-masks-of-oscar-wilde-edfringe-2022-review/">All Edinburgh Theatre</a>, “A wonderfully achieved production, beautifully directed and acted.”</p>

        <p><a href="https://corrblimey.uk/2023/04/24/the-masks-of-oscar-wilde-scottish-storytelling-centre/">Corr Blimey</a>, “Cleverly framed... mixing in heaps of Queer history and theory. Wilde would be proud.”</p>
      </div>
    </section>

    <h1>Starring&hellip;</h1>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/catherine-bisset-small.jpg" alt="Cathering Bisset headshot"/>
      </div>
      <div class="layout__item layout__item--body">
        <h2><b>Catherine Bisset</b></h2>

        <p>
          Catherine Bisset is a Scottish-based actor and writer of Jamaican and English Heritage. She only started acting in her late 40s, but after joining Edinburgh Acting School, she has performed in a number of plays, often cast against type, playing Macbeth, Mary Queen of Scots, Felicity Cunningham in <i>The Real Inspector Hound</i>, and the Magistrate in <i>Lysistrata</i>. She was the lead artist for a filmed verbatim project funded by Stellar Quines, and has recently written and performed her first solo play <i>Placeholder</i>, which came runner up in the Production of the Year category in the Framework Theatre Awards for emerging artists.
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/conor-odwyer-small.jpg" alt="Conor O'Dwyer headshot"/>
      </div>
      <div class="layout__item layout__item--body">
        <h2><b>Conor O'Dwyer</b></h2>

        <p>
          Conor O’Dwyer is an Irish actor from Galway. He moved to Edinburgh in January 2021, looking for a change of scene in the lockdown. Conor is now a 2022 graduate of the BA Acting at the MGA Academy of Performing Arts in Edinburgh. His graduate shows included <i>The Comedy of Errors</i> directed by Paul Brotherston and <i>The Sweet Science of Bruising</i> directed by Molly Innes. <i>The Masks of Oscar Wilde</i> is Conor’s professional theatrical debut.
        </p>

        <p>
          Conor is also a graduate of Bow Street Academy for Screen Acting in Dublin, graduating in 2017. His screen work includes <i>Dublin Murders</i> and <i>The Wake</i>. Conor started creating his own comedy sketches on YouTube during the lockdown, and they have now amassed a viewership of over 400,000. Conor is also an avid swimmer, reader, and coffee drinker. Guilty pleasures include Pokémon and bingeing YouTube videos.
        </p>
        </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/shaul-ezer-small.jpg" alt="Shaul Ezer headshot"/>
      </div>
      <div class="layout__item layout__item--body">
        <h2>Written by <b>Shaul Ezer</b></h2>
        <p>
          Shaul is a playwright and novelist living in Montreal, Canada. His works include a trilogy of plays about each city in Canada in which he lived: <i>The Matchmaker of Montreal</i>, a romantic comedy set in Montreal, which premiered in 2013 at The Firehall Arts Centre in Vancouver; <i>The Concierge of Vancouver</i>, a comedy about the Vancouver housing crisis which opened October 6, 2016 at Studio 1398 in Vancouver; and the third part of the trilogy which is being written and will be set in Toronto.
        </p>

        <p>
          Shaul's other works include <i>The Masks of Oscar Wilde</i>, a play about Wilde’s life, which premiered in Vancouver in 2014, <i>The Real William Shakespeare, as Told by Christopher Marlowe</i>, to be premiered at EdFringe in 2023, and <i>To Hell with PC</i>, a satire of political correctness (still in development). His plays are produced by his Montreal-based company Matchmaker Productions.
        </p>

        <p>
          Shaul has written novels including <i>Moses and the Nubian Princess</i>, a biblical novel about the Israelite leader and the black woman he married, and the sequel <i>Joshua and the Conquest of Jericho</i>. He's written three children travelogues about the adventures of his grandchildren with Baby Cloud, a cloud who takes them flying around their neighbourhood. He's also written a law book <i>International Exporting Agreements</i>, published in 1985 by LexisNexis, New York.
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/jen-mcgregor-small.jpg" alt="Jen McGregor headshot"/>
      </div>
      <div class="layout__item layout__item--body">
        <h2>Directed by <b>Jen McGregor</b></h2>
        <p>
          Jen McGregor is a writer, dramaturg and director, trained at Mountview and mentored by Rob Drummond through Playwrights Studio. Her play <i>Heaven Burns</i> won the 2018 ART Award. Writing credits: <i>Sons of God</i> (Piccolo Theatre of Milan, Italian tour) <i>Volante</i> (Hothouse @ Traverse, EMSF, Tom McGrath award), <i>Canto X</i> (Fronteiras Theatre Lab/Manipulate), <i>Screech</i> (Stellar Quines’ Make Do & Mend), <i>The Premorial</i> (Birds of Paradise/Perth Theatre) and <i>Ghost Stories</i> (Pitlochry Festival Theatre).
        </p>
        <p>
            Directing/dramaturgy credits: Lubna Kerr’s <i>Tick Box</i> (Tramway), Jenny Lindsay’s <i>This Script</i> (Scottish Storytelling Centre), Debbie Cannon’s award-winning <i>Green Knight</i> (Buxton Fringe, touring), Opera Harmony’s <i>The Den</i> (OperaVision.eu, winner of the Rolf Liebermann Prize), Hannah Lavery’s <i>The Unseen Child</i> (Hopscotch), and Post Coal Prom Queen/Hidden Door’s <i>Music for First Contact</i>.
        </p>
      </div>
    </section>

     <section class="layout">

      <div class="layout__item layout__item--body">
        <h2>Full Company</h2>
        <p>
          Written by <b>Shaul Ezer</b><br/>
          Directed by <b>Jen McGregor</b><br/>
          Production Management and Stage Management by <b>Laura Moore</b><br/>
          Sound Design by <b>Ankna Arockiam</b><br/>
          Slide Design by <b>Mark Bolsover</b><br/>
          Design Assist by <b>Kirsty Vance</b><br/>
          Graphic Design and Social Media Management by <b>Erika Alvarez</b><br/>
          A played by <b>Catherine Bisset</b><br/>
          B played by <b>Conor O'Dwyer</b><br/>
        </p>
      </div>
    </section>
  </article>
</main>
