<main role="main">
  <article>
    <header>
      <h2>Media</h2>
    </header>

    <p>
      For media and publicity details please contact:<br>
      Damon Jang at <a href="mailto:damon.jang85@gmail.com">damon.jang85@gmail.com</a>
    </p>
  </article>
</main>
