<main role="main" class="media-page">
  <article>
    <h2>Media</h2>

    <p>
      For media and publicity details please contact:<br>
      Emily Ingram at <a href="mailto:matchmakerpress@gmail.com">matchmakerpress@gmail.com</a>
    </p>
  </article>

  <article>
    <h2>Former Press Releases</h2>
    <p>
      <a href="assets/Press Release_TRWS_ATBCM.pdf"><img src="assets/TRWS Show Image.jpg" alt="Press Release" width="235" height="135"></a>
      </p>
    <p>
      <a href="assets/Press Release_TRWS_ATBCM.pdf">PRESS RELEASE</a>
    </p>
    <p>
      <a href="assets/concierge-press-release.pdf"><img src="assets/concierge-small.webp" alt="Press Release" width="235" height="135"></a>
      </p>
    <p>
      August 26, 2016 <a href="assets/concierge-press-release.pdf">PRESS RELEASE</a>
    </p>
  </article>

</main>
