<main role="main" class="media-page">
  <article>
    <h2>Media</h2>

    <p>
      For media and publicity details please contact:<br>
      Laura Moore at <a href="mailto:mmtheatreproductions@gmail.com">mmtheatreproductions@gmail.com</a>
    </p>
  </article>
  <article>
    <h2>Former Press Releases</h2>
    <p>
      TODO
    </p>
  </article>

</main>
