<main role="main">
  <article>
    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/TRWS Show Image.jpg" alt="TRWS Logo"/>
                <p>
          Click <a href="https://tickets.edfringe.com/whats-on/real-william-shakespeare-as-told-by-christopher-marlowe/">HERE</a> for tickets!
        </p>
      </div>
      <div class="layout__item layout__item--body">
        <p>
'Make my words reside in your language as if they never knew any other.' Marlowe, murder… Morocco? The truth behind Shakespeare is steeped in blood and political intrigue, but now Christopher Marlowe is ready to tell all. Matchmaker Theatre Productions present a provocative new production that asks: who was the real William Shakespeare? Christopher Marlowe, famed playwright and spy, has the answer. But just how far will others go to protect this secret?
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/shaul-ezer-small.jpg" alt="Shaul Ezer headshot"/>
      </div>
      <div class="layout__item layout__item--body">
        <h2>Written by <b>Shaul Ezer</b></h2>
        <p>
          Shaul is a playwright and novelist living in Montreal, Canada. His works include a trilogy of plays about each city in Canada in which he lived: <i>The Matchmaker of Montreal</i>, a romantic comedy set in Montreal, which premiered in 2013 at The Firehall Arts Centre in Vancouver; <i>The Concierge of Vancouver</i>, a comedy about the Vancouver housing crisis which opened October 6, 2016 at Studio 1398 in Vancouver; and the third part of the trilogy which is being written and will be set in Toronto.
        </p>

        <p>
          Shaul's other works include <i>The Masks of Oscar Wilde</i>, a play about Wilde’s life, which premiered in Vancouver in 2014, <i>The Real William Shakespeare, as Told by Christopher Marlowe</i>, to be premiered at EdFringe in 2023, and <i>To Hell with PC</i>, a satire of political correctness (still in development). His plays are produced by his Montreal-based company Matchmaker Productions.
        </p>

        <p>
          Shaul has written novels including <i>Moses and the Nubian Princess</i>, a biblical novel about the Israelite leader and the black woman he married, and the sequel <i>Joshua and the Conquest of Jericho</i>. He's written three children travelogues about the adventures of his grandchildren with Baby Cloud, a cloud who takes them flying around their neighbourhood. He's also written a law book <i>International Exporting Agreements</i>, published in 1985 by LexisNexis, New York.
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/jen-mcgregor-small.jpg" alt="Jen McGregor headshot"/>
      </div>
      <div class="layout__item layout__item--body">
        <h2>Directed by <b>Jen McGregor</b></h2>
        <p>
          Jen McGregor is a writer, dramaturg and director, trained at Mountview and mentored by Rob Drummond through Playwrights Studio. Her play <i>Heaven Burns</i> won the 2018 ART Award. Writing credits: <i>Sons of God</i> (Piccolo Theatre of Milan, Italian tour) <i>Volante</i> (Hothouse @ Traverse, EMSF, Tom McGrath award), <i>Canto X</i> (Fronteiras Theatre Lab/Manipulate), <i>Screech</i> (Stellar Quines’ Make Do & Mend), <i>The Premorial</i> (Birds of Paradise/Perth Theatre) and <i>Ghost Stories</i> (Pitlochry Festival Theatre).
        </p>
        <p>
            Directing/dramaturgy credits: Lubna Kerr’s <i>Tick Box</i> (Tramway), Jenny Lindsay’s <i>This Script</i> (Scottish Storytelling Centre), Debbie Cannon’s award-winning <i>Green Knight</i> (Buxton Fringe, touring), Opera Harmony’s <i>The Den</i> (OperaVision.eu, winner of the Rolf Liebermann Prize), Hannah Lavery’s <i>The Unseen Child</i> (Hopscotch), and Post Coal Prom Queen/Hidden Door’s <i>Music for First Contact</i>.
        </p>
      </div>
    </section>

     <section class="layout">

      <div class="layout__item layout__item--body">
        <h2>Full Cast and Crew Coming Soon&hellip;</h2>
        <p>
          Written by <b>Shaul Ezer</b><br/>
          Directed by <b>Jen McGregor</b><br/>
          Production Management and Stage Management by <b>Laura Moore</b><br/>
        </p>
      </div>
    </section>
  </article>
</main>
