<main role="main">
  <article>
    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/TRWS Show Image.jpg" alt="TRWS" />
        <p>
          <a href="mailto:mmtheatreproductions@gmail.com">Contact us</a>
          for more information and bookings.
        </p>
      </div>
      <div class="layout__item layout__item--body">
        <h2>The Real William Shakespeare... As Told By Christopher Marlowe</h2>
        <p>
          'Make my words reside in your language as if they never knew any
          other.' Marlowe, murder… Morocco? The truth behind Shakespeare is
          steeped in blood and political intrigue, but now Christopher Marlowe
          is ready to tell all. Matchmaker Theatre Productions present a
          provocative new production that asks: who was the real William
          Shakespeare? Christopher Marlowe, famed playwright and spy, has the
          answer. But just how far will others go to protect this secret?
        </p>
      </div>
      </section>
      
      <section class="layout" style="margin-top: 0;">
        <div class="layout__item layout__item--figure--small">
          <a href="https://theatrescotland.co.uk/best-theatre-productions-2023-theatre-scotland/" target="_blank" rel="noopener noreferrer">
            <img src="assets/theatre-scotland.png" alt="Theatre Scotland" />
          </a>
        </div>
        <div class="layout__item layout__item--body">
          <h3>
            Named one of the best Theatre Productions of 2023 by <br>
            <a href="https://theatrescotland.co.uk/best-theatre-productions-2023-theatre-scotland/" target="_blank" rel="noopener noreferrer">
              <strong>Theatre Scotland</strong>
            </a>!
          </h3>
        </div>
    </section>

    <div>
      
    </div>
    <div class="reviews">
      {{#each @model as |r|}}
        <Review @review={{r}} />
      {{/each}}
    </div>

    <h1>Starring&hellip;</h1>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img
          src="assets/Nicholas Thorne small.jpg"
          alt="Nicholas Thorne headshot"
        />
      </div>
      <div class="layout__item layout__item--body">
        <h2><b>Nicholas Thorne</b></h2>

        <p>
          Nick’s first acting role came to him at age 10, when his primary
          school chose to put on a play about the Amazon rain forest. On hearing
          the headmaster ask whom amongst the class might like to play the lead
          role of Tanok, Nick’s hand eagerly shot into the air, and he insisted
          to the teacher that he would “be a GREAT Tanok”. Possibly due to him
          being the only person who raised their hand, Nick successfully landed
          the part, and a love of acting was born.
        </p>
        <p>

          Since that fateful day, Nick has spent over two decades acting in
          plays, musicals, short films, television and, for a few years, as a
          scarer-of-tourists in the Edinburgh Dungeon. He is also an
          accomplished pianist, and can often be found tinkling out a tune in
          Edinburgh Waverley train station. His favourite things include comedy,
          chess, skiing, and going for walks with his wife (Fiona) and their
          little dog (Shy).
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img
          src="assets/Kirsty Eila McIntyre.jpg"
          alt="Kirsty Eila McIntyre headshot"
        />
      </div>
      <div class="layout__item layout__item--body">
        <h2><b>Kirsty Eila McIntyre</b></h2>

        <p>
          Kirsty Eila McIntyre is an award winning actress and musician from
          Edinburgh. Theatre acting credits include; Castle Lennox (Royal Lyceum
          Theatre Company & Lung Ha, winner of Best Ensemble 2023 at the CATS),
          The Myth of the Singular Moment (Jim Harbourne & Tortoise in a
          Nutshell, winner of the Summerhall Award 2018), Little by Little Field
          (Curious Seed), Glory On Earth (Royal Lyceum Theatre Company), The
          Arrival (Solar Bear), Deliverance (Brite Theater & Vanishing Point),
          Bench on the Road (Charioteer Theatre Company) Audio work includes;
          several audio books, and voices for the theatre shows Childminder
          (Brite Theater), Arthropoda (Paper Doll Militia) and Mrs Barbour's
          Daughters (Tron Theatre). Film & TV credits include; The Last Bus
          (Hurricane Films), Project Unicorn (BBC Scotland/Studio Something) and
          Are We Born to Fear? (BBC Ideas/Shakehaus) She regularly helps to
          develop new work for the stage and has performed in many rehearsed
          readings including for The Real William Shakespeare, as Told by
          Christopher Marlowe. She is thrilled to be performing in the full
          production of this brilliant new play.
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/Adam Buksh small.jpg" alt="Adam Buksh headshot" />
      </div>
      <div class="layout__item layout__item--body">
        <h2><b>Adam Buksh</b></h2>

        <p>
          Adam is a Glasgow based actor who works in a wide variety of styles.
          He has performed in modern adaptations of "Julius Caesar" (Regal
          Bathgate) and "Macbeth" (Proteus Theatre Company), new writing
          "Burning Bright" and "The Great Replacement" in this year's A Play, a
          Pie and a Pint Spring Season. He's very excited to be working with
          Matchmaker Theatre Production's "The Real William Shakespeare". Enjoy
          the show and remember "We are such stuff as dreams are made on and our
          little life is rounded with a sleep".
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/JOHN-KIELTY.jpeg" alt="John Kielty headshot" />
      </div>
      <div class="layout__item layout__item--body">
        <h2><b>John Kielty</b></h2>

        <p>
          John Kielty is an actor, writer and composer based in Linlithgow. He
          has written many theatre scores and last year wrote A to Z of Dundee
          for Dundee Rep's 80th Anniversary Season, the Oran Mor Summer
          Pantomime Dracula ReVamped and also Co-wrote, Directed and Musically
          Directed the Toonspeak Summer Show Time Oot. He has written and
          contributed to many award winning musicals with his Brothers,
          including Glasgow Girls for National Theatre of Scotland and, in 2014,
          they wrote the opening number for the Glasgow Commonwealth Games.
          Their award winning musical Wasted Love was recently adapted as a TV
          Pilot for Amazon Prime and he is busy adapting another - The Edinburgh
          Seven - with screen writer Raymond Friel and Jordanna O'Neill.
        </p>
      </div>
    </section>

        <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/sadiq-small.jpg" alt="Sadiq Ali headshot" />
      </div>
      <div class="layout__item layout__item--body">
        <h2><b>Sadiq Ali</b></h2>

        <p>
          Sadiq Ali is a mixed heritage, queer, circus artist and performance maker who graduated from London's National Centre for Circus Arts. He has created and worked with contemporary circus companies like Ockhams Razor and Upswing Circus and has been devising his own full length works, the first of which has premiered recently to critical acclaim. Sadiq also regularly performs on the international Cabaret, Variety and Burlesque circuits where he combines a joyous love for comedy, body expression and representation. 
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/shaul-ezer-small.jpg" alt="Shaul Ezer headshot" />
      </div>
      <div class="layout__item layout__item--body">
        <h2>Written by <b>Shaul Ezer</b></h2>
        <p>
          Shaul is a playwright and novelist living in Montreal, Canada. His
          works include a trilogy of plays about each city in Canada in which he
          lived:
          <i>The Matchmaker of Montreal</i>, a romantic comedy set in Montreal,
          which premiered in 2013 at The Firehall Arts Centre in Vancouver;
          <i>The Concierge of Vancouver</i>, a comedy about the Vancouver
          housing crisis which opened October 6, 2016 at Studio 1398 in
          Vancouver; and the third part of the trilogy which is being written
          and will be set in Toronto.
        </p>

        <p>
          Shaul's other works include
          <i>The Masks of Oscar Wilde</i>, a play about Wilde’s life, which
          premiered in Vancouver in 2014,
          <i>The Real William Shakespeare, as Told by Christopher Marlowe</i>,
          which premiered at the 2023 Edinburgh Fringe Festival, and
          <i>To Hell with PC</i>, a satire of political correctness (still in
          development). His plays are produced by his Montreal-based company
          Matchmaker Productions.
        </p>

        <p>
          Shaul has written novels including
          <i>Moses and the Nubian Princess</i>, a biblical novel about the
          Israelite leader and the black woman he married, and the sequel
          <i>Joshua and the Conquest of Jericho</i>. He's written three children
          travelogues about the adventures of his grandchildren with Baby Cloud,
          a cloud who takes them flying around their neighbourhood. He's also
          written a law book
          <i>International Exporting Agreements</i>, published in 1985 by
          LexisNexis, New York.
        </p>
      </div>
    </section>

    <section class="layout">
      <div class="layout__item layout__item--figure">
        <img src="assets/jen-mcgregor-small.jpg" alt="Jen McGregor headshot" />
      </div>
      <div class="layout__item layout__item--body">
        <h2>Directed by <b>Jen McGregor</b></h2>
        <p>
          Jen McGregor is a writer, dramaturg and director, trained at Mountview
          and mentored by Rob Drummond through Playwrights Studio. Her play
          <i>Heaven Burns</i>
          won the 2018 ART Award. Writing credits:
          <i>Sons of God</i>
          (Piccolo Theatre of Milan, Italian tour)
          <i>Volante</i>
          (Hothouse @ Traverse, EMSF, Tom McGrath award),
          <i>Canto X</i>
          (Fronteiras Theatre Lab/Manipulate),
          <i>Screech</i>
          (Stellar Quines’ Make Do & Mend),
          <i>The Premorial</i>
          (Birds of Paradise/Perth Theatre) and
          <i>Ghost Stories</i>
          (Pitlochry Festival Theatre).
        </p>
        <p>
          Directing/dramaturgy credits: Lubna Kerr’s
          <i>Tick Box</i>
          (Tramway), Jenny Lindsay’s
          <i>This Script</i>
          (Scottish Storytelling Centre), Debbie Cannon’s award-winning
          <i>Green Knight</i>
          (Buxton Fringe, touring), Opera Harmony’s
          <i>The Den</i>
          (OperaVision.eu, winner of the Rolf Liebermann Prize), Hannah Lavery’s
          <i>The Unseen Child</i>
          (Hopscotch), and Post Coal Prom Queen/Hidden Door’s
          <i>Music for First Contact</i>.
        </p>
      </div>
    </section>

    <section class="layout">

      <div class="layout__item layout__item--body">
        <h2>Full Company</h2>
        <p>
          Written by
          <b>Shaul Ezer</b><br />
          Directed by
          <b>Jen McGregor</b><br />
          Production Management and Stage Management by
          <b>Laura Moore</b><br />
          Christopher Marlowe:
          <b>Nicholas Thorne</b><br />
          Laura and Others:
          <b>Kirsty Eila McIntyre</b><br />
          Ahmed Bilqasim:
          <b>Adam Buksh</b><br />
          Musician and Understudy:
          <b>John Kielty</b><br />
          Costume Design by
          <b>Chantal Short</b><br />
          Costume Cut and Build by
          <b>Martha Schram</b><br />
          Sound Design by
          <b>John Kielty</b><br />
          Publicity by
          <b>Emily Ingram</b><br />
          Social Media Management and Graphic Design by
          <b>Erika Alvarez</b><br />
          Production Assist by
          <b>Clare Nolan</b><br />
        </p>
      </div>
    </section>
  </article>
</main>